* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(../imgs/watercolor_spots.jpg); */
    background-repeat: no-repeat;
    background: cover;
    margin: 0;
    padding: 0;
   
}

@media (min-width: 280px) and (max-width: 480px) {
    /* Navbar -------------------------------*/
    img {
        width: 80%;
       
        margin-left: 0px;
        margin-right: -7px;
        background-color: transparent;
    }
    /* Recorre el menu de hamburguesa */
    nav .navbar {
        background: transparent;
        width: 60%;
    }
  



    .navbar-nav {
        font-family: 'Montserrat', sans-serif;
        color: rgb(90, 88, 88);
    }
  
 
    .navbar-light {
         background-color: #bb9eb2e0;
         /* solo background para area de navbar */
    }
    

    .navbar-light .navbar-toggler {
        border: 5px solid #1b123c;
        margin-right: 30px;
    }
    a.nav-link {
        margin-left: 25px;
    }
    /* Ajustar links del menu el texto HOME/Work cuando se despliega*/

    header {
        position: fixed;
        top:0;
        width: 100%;
    }
    /* Fijar menu navbar */



    /* BOXES     --------------------------------- */
    .flex-container-editorial {
        display: flex;
        flex-wrap: wrap;
        width: 100% auto;
        justify-content: center;
      
        margin-top: 130px;
        /* Margen debido a que la barra de navegacion esta fija */
    }


    .flex-box {
       
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 8px;
    }
    .box0 {
        background-color: #8b617f;
        border-radius: 6px;
        text-align: center;
        width: 100%;
    }
    .text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
       
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
        color: white;
    }
    .box1 {
        width: 100%;
        
        display: flex;
        justify-content: center;
        border-radius: 6px;
       
        margin-top: 15px;
        border: 1px solid #bb9eb2;
    }
    #img1 {
       
        padding: 10px 0;
        width: 98%;
        margin-right: 0;
    }
    .box2 {
        width: 100%;
       
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #8b617f;
        margin-top: 15px;
    }
    #img2 {
       
        padding: 15px 0;
        width: 95%;
        margin-right: 0;
    }
    .box3 {
        width: 100%;
       
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #4c5384;
        margin-top: 15px;
    }
    #img3 {
       
        padding: 15px 0;
        width: 90%;
        margin-right: 0;
    }
    .box4 {
        width: 100%;
        
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #2f2859;
        margin-top: 15px;
    }
    #img4 {
       
        padding: 15px 0;
        width: 95%;
        margin-right: 0;
    }
    .box5 {
        width: 100%;
       
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #bb9eb2;
        margin-top: 15px;
    }
    #img5 {
       
        padding: 15px 0;
        width: 95%;
        margin-right: 0;
    }
    .box6 {
        width: 100%;
       
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #8b617f;
        margin-top: 15px;
    }
    #img6 {
      
        padding: 15px 0;
        width: 95%;
        margin-right: 0;
    }
    .box7 {
        width: 100%;
        
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #4c5384;
        margin-top: 15px;
    }
    #img7 {
     
        padding: 15px 0;
        width: 95%;
        margin-right: 0;
    }

    .box8 {
        width: 100%;
        
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #2f2859;
        margin-top: 15px;
    }
    #img8 {
      
        padding: 15px 0;
        width: 95%;
        margin-right: 0;
    }
    .menu-down {
       
        display: flex;
       
        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 1px solid #2f28599d;
        width: 90%;
        padding-bottom: 7px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    a.small-menu {
        color: rgb(133, 133, 133);
        font-size: 11px;
        padding: 3px;
       
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    /* Footer ------------------------------------ */
    footer {
        display: inline-block;
        position: relative;
        bottom: 0;
        line-height: 80px;
        text-align: center;
        min-width: 100%;
       
        color: rgb(44, 43, 43);
        font-size: 0.7em;
        font-family: 'Montserrat', sans-serif;
    }
}




/* For tablets: SURFACE DUO  -----------------------------*/

@media only screen and (min-width: 500px) {
    /* NAVBAR ------------------------------------- */
    .navbar-light {
        background-color: #bb9eb277;
       
        /* solo background para area de navbar */
    }
    nav .navbar {
        background: transparent;
    }
    /* quitar background del cuadro donde aparace el logo parte del nav */
    .navbar-light .navbar-toggler {
        margin-right: 25px;
    }
    /* mover menu hamburguer */
    a.nav-link {
        margin-left: 35px;
        font-family: 'Montserrat', sans-serif;
    }
    /* Ajustar links del menu el texto HOME/Work */
    #logo-baner {
        width: 80%;
        margin-left: 10px;
        background-color: transparent;
    }

    header {
        position: fixed;
        top:0;
        width: 100%;
    }
    /* Fijar menu navbar */
 
    .navbar-light {
         background-color: #bb9eb2e0;
         /* solo background para area de navbar */
    
    }






    /* BOXES ------------------------------------------------- */
    .flex-container-editorial {
        display: flex;
        flex-wrap: wrap;
        width: 100% auto;
        justify-content: center;
        margin-top: 130px;
    }


    .flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: 8px;
    }
    .box0 {
      
        background-color: #8b617f;
        border-radius: 6px;
        text-align: center;
        width: 100%;
    }
    .text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
        color: white;
    }
    .box1 {
        width: 48%;
        /* height: 240px; */
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        /* margin-bottom: 10px; */
        margin-top: 15px;
        border: 2px solid #bb9eb2;
       
        
    }


    #img1 {
       
        padding: 10px 0;
        width: 95%;
        margin-left: 0;
        
    }
    .box2 {
        width: 48%;
       
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        margin-top: 15px;
        border: 2px solid #8b617f;
        
    }

    #img2 {
       
        padding: 20px 0;
        width: 95% ;
        margin-left: 0;
    }
    .box3 {
        width: 48%;
       
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #4c5384;
        margin-top: 15px;
       
    }


    #img3 {
       
        padding: 20px 0;
        width: 85%;
        margin-left: 0;
    }


    .box4 {
        width: 48%;
       
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #2f2859;
        margin-top: 15px;
        align-items: center;
    }


    #img4 {
        
        padding: 10px 0;
        width: 95%;
        margin-left: 0;
    }


    .box5 {
        width: 48%;
       
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;
       
    }


    #img5 {
       
        padding: 10px 0;
        width: 95%;
        margin-left: 0;
    }
    .box6 {
        width: 48%;
       
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #8b617f;
        margin-top: 15px;
    }
    #img6 {
       
        padding: 10px 0;
        width: 95%;
        margin-left: 0;
    }
    .box7 {
        width: 48%;
       
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #4c5384;
        margin-top: 15px;
    }
    #img7 {
       
        padding: 10px 0;
        width: 95%;
        margin-left: 0;
    }

    .box8 {
        width: 48%;
        /* height: 240px; */
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #2f2859;
        margin-top: 15px;
    }
    #img8 {
       
        padding: 10px 0;
        width: 95%;
        margin-left: 0;
    }

    .menu-down {
       
        display: flex;
        margin: 25px 8px;
        justify-content: space-around;
        width: 90%;
        border-bottom: 1px solid #4c5384;
    }
    a.small-menu {
        color: rgb(133, 133, 133);
        font-size: 11px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 10px;
    }
    /* Footer ------------------------------------ */
    footer {
        display: inline-block;
        position: relative;
        bottom: 0;
        line-height: 60px;
        text-align: center;
        min-width: 100%;
       
        color: rgb(44, 43, 43);
        font-size: 0.7em;
        font-family: 'Montserrat', sans-serif;
    }
}





/* TABLET IPAD ------------------------------------------------------*/

@media only screen and (min-width: 750px) {
      /*NAVBAR --------------------------------------------------------  */

      a.nav-link {
        margin-left: 38px;
        
    }
    /* Ajustar links del menu el texto HOME/Work */

    
    #logo-baner {
        width: 85%;
        margin-left: 20px;
        margin-right: -7px;
        /* Logo brand */
    } 

    header {
        position: fixed;
        top:0;
        width: 100%;
    }
    /* Fijar menu navbar */
 
    .navbar-light {
         background-color: #bb9eb2e0;
         /* solo background para area de navbar */
    
    }



    /* BOXES ---------------------------------------------------------- */

    .flex-container-editorial {
        display:flex;
        flex-wrap: wrap;
        width: 100% auto;
        /* border: 2px solid greenyellow; */
        justify-content: center;
        /* min-height: 100vh; */
        margin-top: 130px;
        
    }

    .flex-box {
        /* border: 2px solid orangered; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;  
        width: 95%;
        margin: 15px 8px;
       
    }

    .text {
        font-size: 1.4em;
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
    }

    .box0 {
        background-color:#8b617f;
        color: rgb(82, 81, 81);
    }



    .box1 {
        width: 49%;
       
        align-items: center;
        border:2px solid #bb9eb2;
        
    }

    #img1 {
       
        padding: 10px 0;
        width: 95%;
        
        
    }

    .box2 {
        width: 49%;
       
        align-items: center;
        border:2px solid #8b617f;
    }

    #img2 {
      
        padding: 10px 0;
        width: 95%;
       
       
    }


    .box3 {
        width: 49%;
       
        align-items: center;
        border:2px solid #4c5384;
    }

    #img3 {
       
        padding: 10px 0;
        width: 85%;
       
       
    }


    .box4 {
        width: 49%;
        
        align-items: center;
        border:2px solid #2f2859;
        
    }

    #img4 {
        
        padding: 10px 0;
        width: 95%;
       
    }



    .box5 {
        width: 49%;
       
        align-items: center;
        border:2px solid #bb9eb2;
        
    }

    #img5 {
        
        padding: 10px 0;
        width: 95%;
       
    }


    .box6 {
        width: 49%;
    
        align-items: center;
        border:2px solid #8b617f;
        
    }

    #img6 {
       
        padding: 10px 0;
        width: 95%;
        
    }


    .box7 {
        width: 49%;
        
        align-items: center;
        border:2px solid #4c5384;
        
    }

    #img7{
       
        padding: 10px 0;
        width: 95%;
       
    }


    .box8 {
        width: 49%;
      
        align-items: center;
        border:2px solid #2f2859;
        
    }

    #img8 {
       
        padding: 10px 0;
        width: 95%;
        
    }



    .menu-down {
        margin: 35px 8px;
    }

    a.small-menu {
        color:rgb(133, 133, 133);
        font-size: 15px;
    }

    footer {
        font-size: 14px;
    }


}


/* TABLET IPAD-PRO --------------------------------------------------*/

@media only screen and (min-width:1024px) {

    /* NAVBAR ----------------------------------------------------------- */

    li a  {
        margin: 15px;
   
    }

    #logo-baner {
        width: 190%;
        margin-left: 6px;
    
    }
    /* Para mover el logo */

    a.nav-link {
        margin-left: 5px;
        margin-right: 10px;    
    }
    /* Ajustar links del menu el texto HOME/Work */


    div .container  {
        margin-left: 6px;
        padding: 0;
    }

    div .navbar-collapse {
        margin-left: 47%;
    }
    /* Para mover los links de menu hacia la derecha */


    header {
        position: fixed;
        top:0;
        width: 100%;
    }
    /* Fijar el menu */

    .navbar-light {
        background-color: #bb9eb2e0;
        /* solo background para area de navbar */
    }


    /* BOXES -------------------------------------------------------- */

     .flex-container-editorial {
        display:flex;
        flex-wrap: wrap;
        width: 100% auto;
        /* border: 2px solid greenyellow; */
        justify-content: center;
        /* min-height: 100vh; */
        margin-top: 130px;  
        /* Margen para poder fijar el menu */
        
    }

    .flex-box {
        /* border: 2px solid orangered; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;  
        width: 95%;
        margin: 15px 8px;
       
    }

    .box0 {
        background-color:#8b617f;
        
    }

    .text {
        font-size: 1.8em;
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
        /* padding-top: 10px; */
    }


    .box1 {
        width: 49%;
        align-items: center;
        border: 3px solid #bb9eb2;
        height: 400px;
    }

    #img1 {
      
        padding: 10px 0;
        width: 100%;

       
       
    }

    .box2 {
        width: 49%;
        align-items: center;
        border: 3px solid #8b617f;
        height: 400px;
       
        
    }

    #img2 {
       
        padding: 10px 0;
        width: 100%;
        
       
       
    }

    .box3 {
        width: 49%;
        align-items: center;
        border: 3px solid #4c5384;
        height: 400px;
       
        
    }

    #img3 {
        
        padding: 10px 0;
        width: 80%;
        
       
    }

    .box4 {
        width: 49%;
        height: 400px;
        align-items: center;
        border: 3px solid #2f2859;
       
        
    }

    #img4 {
        /* border: 2px solid black; */
        padding: 10px 0;
        width: 95%;
       
       
    }


    .box5 {
        width: 49%;
        height: 400px;
        align-items: center;
        border: 3px solid #bb9eb2;
       
        
    }

    #img5 {
      
        padding: 10px 0;
        width: 95%;
    }


    .box6 {
        width: 49%;
        height: 400px;
        align-items: center;
        border: 3px solid #8b617f;
       
        
    }

    #img6 {
       
        padding: 10px 0;
        width: 95%;
    }


    .box7 {
        width: 49%;
        height: 400px;
        align-items: center;
        border: 3px solid #4c5384;
       
        
    }

    #img7 {
        
        padding: 10px 0;
        width: 95%;
    }


    .box8 {
        width: 49%;
        height: 400px;
        align-items: center;
        border: 3px solid #2f2859;
       
        
    }

    #img8 {
        /* border: 2px solid black; */
        padding: 10px 0;
        width: 100%;
    }




    .menu-down {
        margin: 55px 8px;
    }

    a.small-menu {
        color:rgb(133, 133, 133);
        font-size: 21px;
    }


    footer {
        font-size: 1em;
        bottom: 0;
        display: inline-block;
        position: relative;
        padding-bottom: 10px;
    }


}


/* DESKTOP -------------------------------------------*/


@media only screen and (min-width: 1280px) {

/* NAVBAR ----------------------------------------- */
 
     li a {
        margin: 25px;
        padding: 100px;
        border-radius: 6px;
    }
    /* para escritorio */


    ul li a {
        font-family: 'Montserrat', sans-serif;
    }
    li a:hover {
        background-color: #2f2859;
        border-radius: 6px;
        color: white !important;
    }

    a.nav-link {
        margin-left: 25px;
        margin-right: 20px;    
    }
    /* Ajustar links del menu el texto HOME/Work */

    div .navbar-collapse {
        margin-left: 60%;
    }
    /* Para mover las opciones de menu - texto */
    #logo-baner {
        width: 100%;
        margin-left: 111px;
    }

    /* ----------------------------------------- */
   header {
       position: fixed;
       top:0;
       width: 100%;
   }
   /* Fijar menu navbar */

   .navbar-light {
        background-color: #bb9eb2e0;
        /* solo background para area de navbar */
   
    }

   
    


    /* BOXES ------------------------------------------------*/

    .flex-container-editorial {
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        /* border: 2px solid greenyellow; */
        justify-content: center;
        /* min-height: 100vh; */
        margin-top: 120px;
        /* Margen para separar del menu fijo */
        
    }

    .flex-box {
        /* border: 2px solid orangered; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;  
        width: 80%;
        margin: 25px 8px;
       
    }

    .box0 {
        margin-bottom: 25px;
        
        
    }
    
    .text{
        font-size: 20px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
        margin: 20px 30px;
    }

    .box1 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
        margin-left: 0;
       
    }

    #img1 {
        
        padding: 10px 0;
        width: 90%;
    }



    #img1:hover {
        opacity: 0.4;
        
    }

    #img2:hover {
        opacity: 0.4;
        
    }

    #img3:hover {
        opacity: 0.4;
        
    }

    #img4:hover {
        opacity: 0.4;
        
    }

    .box2 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
        
    }


    #img2 {
       
        padding: 10px 0;
        width: 100%;
       
    }


    .box3 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
       
    }

    #img3 {
       
        padding: 8px 0;
        width: 75%;
       
    }
    

    .box4 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
        margin-right: 0;
       
    }

    #img4 {
       
        padding: 8px 0;
        width: 95%;
       
    }

    .box5 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
        margin-left: 0;
        
    }

    #img5 {
       
        padding: 8px 0;
        width: 88% ;
       
    }


    .box6 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
       
    }

    #img6 {
        
        padding: 10px 0;
        width: 88%;
       
    }

    .box7 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
       
    }

    #img7 {
      
        padding: 10px 0;
        width: 90%;
       
    }

    .box8 {
        width: 20%;
        height: 230px;
        align-items: center;
        border: 2px solid #bb9eb2;
        margin-right: 0;
       
    }

    #img8 {
       
        padding: 10px 0;
        width: 88%;
       
    }



    .menu-down {
        /* border:2px solid purple; */
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
        border-bottom: 1px solid #1b123c;
        width: 60%;
        /* background-color: #8b617f73; */
    }

    a.small-menu {
        color:#4c5384;
        font-size: 14px;
        padding: 20px;
        
        
    }

    a.small-menu:hover {
        /* background-color: #2f285975; */
        color:#1b123c;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 14px;
        
    }

    footer {
        font-size: 14px;
    }


}




