* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(../imgs/watercolor_spots.jpg); */
    background-repeat: no-repeat;
    background: cover;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* MOBILES --------------------------------------------- */
@media (min-width: 280px) and (max-width: 480px) {


    /* Navbar -------------------------------*/


    #logo-baner {
        width: 80%;
        margin-left: 0px;
        margin-right: -7px;
        background-color: transparent;
    }

    /* Recorre el menu de hamburguesa */


    nav .navbar {

        background: transparent;
        width: 60%;

        /* Contenedor para imagen del logo */
    }

    .container-fluid {
        padding-right: 15px;

    }

    .navbar-nav {
        font-family: 'Montserrat', sans-serif;
        color: rgb(90, 88, 88);
        width: 60%;
    }

    .navbar-light {
        background-color: #bb9eb2e0;
        /* solo background para area de navbar */
    }

    .navbar-light .navbar-toggler {
        border: 5px solid #1b123c;
        margin-right: 30px;
    }

    a.nav-link {
        margin-left: 25px;
        /* Ajustar links del menu el texto HOME/Work cuando se despliega*/
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }


    /* BOXES     --------------------------------- */


    .flex-container-illustration {
        display: flex;
        flex-wrap: wrap;
        width: 100% auto;
        justify-content: center;

        min-height: 100vh;
        margin-top: 130px;
        /* Margen debido a que la barra de navegacion esta fija */
    }

    .flex-box-1 {

        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 8px;
    }

    .caja-texto {
        background-color: #8b617f;
        border-radius: 6px;
        text-align: center;
        width: 100%;
    }

    .texto {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;

        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
        color: white;
    }

    .gallery {

        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .box_A {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_A {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 30px;

    }

    .box_B {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }


    #img_B {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }

    .box_C {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_C {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }

    .box_D {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_D {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }

    .box_E {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_E {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }

    .box_F {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_F {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }



    .box_G {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_G {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }


    .box_H {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_H {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }






    .menu-down {

        display: flex;

        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 1px solid #2f28599d;
        width: 90%;
        padding-bottom: 7px;
        margin-top: 10px;
        margin-bottom: 6px;
    }

    a.small-menu {
        color: rgb(133, 133, 133);
        font-size: 11px;
        padding: 3px;

        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* Footer ------------------------------------ */
    footer {
        display: inline-block;
        position: relative;
        bottom: 0;
        line-height: 80px;
        text-align: center;
        min-width: 100%;

        color: rgb(44, 43, 43);
        font-size: 0.7em;
        font-family: 'Montserrat', sans-serif;
    }



}


/* For tablets: SURFACE DUO  -----------------------------*/

@media only screen and (min-width: 500px) {

    /* NAVBAR ------------------------------------- */
    .navbar-light {
        background-color: #bb9eb277;

        /* solo background para area de navbar */
    }

    nav .navbar {
        background: transparent;
    }

    /* quitar background del cuadro donde aparace el logo parte del nav */

    .navbar-light .navbar-toggler {
        margin-right: 25px;
    }

    /* mover menu hamburguer */
    a.nav-link {
        margin-left: 35px;
        font-family: 'Montserrat', sans-serif;
    }

    /* Ajustar links del menu el texto HOME/Work */
    
    #logo-baner {
        width: 80%;
        margin-left: 10px;
       
        /* Logo brand */
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* Fijar menu navbar */

    .navbar-light {
        background-color: #bb9eb2e0;
        /* solo background para area de navbar */

    }




    /* BOXES ------------------------------------------------- */

    .flex-container-illustration {
        display: flex;
        flex-wrap: wrap;
        width: 100% auto;
        justify-content: center;

        min-height: 100vh;
        margin-top: 130px;
        /* Margen debido a que la barra de navegacion esta fija */
    }

    .flex-box-1 {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        margin: 8px;
    }

    .caja-texto {
        background-color: #8b617f;
        border-radius: 6px;
        text-align: center;
        width: 100%;
    }

    .texto {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;

        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
        color: white;
    }

    .gallery {

        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .box_A {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_A {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_B {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_B {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }

    .box_C {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_C {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }

    .box_D {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_D {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;

    }

    .box_E {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_E {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;
    }

    .box_F {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_F {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;
    }

    .box_G {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_G {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;
    }

    .box_H {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_H {

        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 6px;
    }






    .menu-down {
        /* border: 2px solid violet; */
        display: flex;
        margin: 25px 8px;
        justify-content: space-around;
        width: 90%;
        border-bottom: 1px solid #4c5384;

    }

    a.small-menu {
        color: rgb(133, 133, 133);
        font-size: 11px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 10px;


    }

    /* Footer ------------------------------------ */
    footer {
        display: inline-block;
        position: relative;
        bottom: 0;
        line-height: 60px;
        text-align: center;
        min-width: 100%;
        /* border: 2px solid blue; */
        color: rgb(44, 43, 43);
        font-size: 0.7em;
        font-family: 'Montserrat', sans-serif;
    }


}



/* TABLET IPAD ------------------------------------------------------*/

@media only screen and (min-width: 750px) {


     /*NAVBAR --------------------------------------------------------  */

     a.nav-link {
        margin-left: 38px;
        
    }
    /* Ajustar links del menu el texto HOME/Work */

    
    #logo-baner {
        width: 85%;
        margin-left: 20px;
        margin-right: -7px;
        /* Logo brand */
    }


    .texto {
        font-size: 1.4em;
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
    }


    .box_A {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_A {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_B {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_B {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_C {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_C {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_D {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_D {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_E {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_E {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_F {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_G {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_H {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_H {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    a.small-menu {
        color: rgb(133, 133, 133);
        font-size: 15px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 10px;


    }

    /* Footer ------------------------------------ */
    
    
    footer {
        font-size: .9em;
        bottom: 0;
        display: inline-block;
    }

    

}







/* TABLET IPAD-PRO --------------------------------------------------*/

@media only screen and (min-width:1024px) {

 /* NAVBAR ----------------------------------------------------------- */

    li a {
        margin: 15px;

    }

    #logo-baner {
        width: 190%;
        margin-left: 6px;

    }

    /* Para mover el logo */



    a.nav-link {
        margin-left: 5px;
        margin-right: 10px;
    }

    /* Ajustar links del menu el texto HOME/Work */


    div .container {
        margin-left: 6px;
        padding: 0;
    }

    div .navbar-collapse {
        margin-left: 47%;
    }

    /* Para mover los links de menu hacia la derecha */


    /* BOXES -------------------------------------------------------- */

    .flex-container1 {
        display: flex;
        flex-wrap: wrap;
        width: 100% auto;
        justify-content: center;

    }

    .flex-box-1 {
     /* border: 2px solid orangered; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        width: 95%;
        margin: 15px 8px;

    }

    .box0 {
        background-color: #8b617f;

    }

    .texto {
        font-size: 1.8em;
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
    }

    .box_A {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_A {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_B {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_B {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_C {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_C {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_D {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_D {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_E {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_E {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_F {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_F {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_G {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_G {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_H {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_H {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }



    .menu-down {
         margin: 55px 8px;

    }

     a.small-menu {
        color: rgb(133, 133, 133);
        font-size: 21px;
    }

    footer {
        font-size: 1em;
        bottom: 0;
        display: inline-block;
        position: relative;
        padding-bottom: 10px;
    }

}


/* DESKTOP -------------------------------------------*/


@media only screen and (min-width: 1280px) {

    /* NAVBAR ----------------------------------------- */

     
    li a {
        margin: 25px;
        padding: 100px;
        border-radius: 6px;
    }
    /* para escritorio */


    ul li a {
        font-family: 'Montserrat', sans-serif;
    }
    li a:hover {
        background-color: #2f2859;
        border-radius: 6px;
        color: white !important;
    }

    a.nav-link {
        margin-left: 25px;
        margin-right: 20px;    
    }
    /* Ajustar links del menu el texto HOME/Work */

    div .navbar-collapse {
        margin-left: 60%;
    }
    /* Para mover las opciones de menu - texto */
   
    #logo-baner {
        width: 100%;
        margin-left: 111px;
    }
   
   
    /* BOXES ------------------------------------------------*/


    .gallery {

        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
    }

    .texto {
        font-size: 20px;
    }


    .flex-box-1 {
        /* border: 2px solid orangered; */
           display: flex;
           flex-wrap: wrap;
           align-items: center;
           flex-direction: row;
           width: 80%;
           margin: 25px 8px;
   
       }

       .box_A {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_A {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_B {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_B {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_C {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_C {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_D {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_D {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_E {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_E {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_F {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_F {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_G {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_G {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    .box_H {
        width: 22%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
        border: 2px solid #bb9eb2;
        margin-top: 15px;

    }

    #img_H {

        padding: 8px;
        width: 100%;
        margin-left: 0;
        border-radius: 6px;

    }

    #img_A:hover {
        opacity: 0.4;
        
    }

    #img_B:hover {
        opacity: 0.4;
        
    }

    #img_C:hover {
        opacity: 0.4;
        
    }

    #img_D:hover {
        opacity: 0.4;
        
    }

    #img_E:hover {
        opacity: 0.4;
        
    }

    #img_F:hover {
        opacity: 0.4;
        
    }

    #img_G:hover {
        opacity: 0.4;
        
    }

    #img_H:hover {
        opacity: 0.4;
        
    }


    .menu-down {
        /* border:2px solid purple; */
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
        border-bottom: 1px solid #1b123c;
        width: 60%;
        /* background-color: #8b617f73; */
    }

    a.small-menu {
        color:#4c5384;
        font-size: 14px;
        padding: 20px;
        
        
    }

    a.small-menu:hover {
        /* background-color: #2f285975; */
        color:#1b123c;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 14px;
        
    }

    footer {
        font-size: 14px;
    }
   




}