* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imgs/watercolor_spots.jpg);
    background-repeat: no-repeat;
    background: cover;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


 /* MOBILES --------------------------------------------- */
 @media (min-width: 280px) and (max-width: 480px) {

   
    /* Navbar -------------------------------*/


    #logo-baner {
        width: 40%;
        /* border: 1px solid orangered; */
        margin-left: 2px;
        margin-right: -7px;
        background-color: transparent;
    }
    /* Recorre el menu de hamburguesa */
    
    
    nav .navbar {
        /* padding-left: 16px; */
        /* margin-right: 20px; */
        background: transparent;
        /* border: 2px solid red; */
        /* Contenedor para imagen del logo */
    }
    .container-fluid {
        padding-right: 15px;
    }

    .navbar-nav {
        font-family: 'Montserrat', sans-serif;
        color: rgb(90, 88, 88);
    }

    .navbar-light {
        background-color: #bb9eb2e0;
        /* solo background para area de navbar */
    }

    .navbar-light .navbar-toggler {
        border: 5px solid #1b123c;
        margin-right: 7px;
    }
    
    a.nav-link {
        margin-left: 25px;
        /* Ajustar links del menu el texto HOME/Work cuando se despliega*/
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }


    /* BOXES     --------------------------------- */


     .flex-container-illustration{
        display: flex;
        flex-wrap: wrap;
        width: 100% auto;
        justify-content: center;
        /* border: 2px solid greenyellow; */
        min-height: 100vh;
        margin-top: 130px;
        /* Margen debido a que la barra de navegacion esta fija */
    }
    .flex-box-1 {
        /* border: 2px solid orangered; */
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 8px;
    }
    .caja-texto {
        background-color: #8b617f;
        border-radius: 6px;
        text-align: center;
        width: 100%;
    }
    .texto {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        /* padding-top: 7px; */
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
        color: white;
    }

    .gallery {
        /* border: 1px solid black; */
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .box_A {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 30px;
        /* margin-bottom: 10px; */
        margin-top: 15px;
        /* border: 1px solid #bb9eb2; */
    }
    #img_A {
        /* border: 2px solid black; */
        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 30px;
        /* border: 7px solid red; */
    }

    .box_B {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 30px;
        /* margin-bottom: 10px; */
        margin-top: 15px;
        /* border: 1px solid #bb9eb2; */
    }
    #img_B {
        /* border: 2px solid black; */
        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 30px;
        /* border: 7px solid red; */
    }

    .box_C {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 30px;
        /* margin-bottom: 10px; */
        margin-top: 15px;
        /* border: 1px solid #bb9eb2; */
    }
    #img_C {
        /* border: 2px solid black; */
        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 30px;
        /* border: 7px solid red; */
    }

    .box_D {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.514);
        display: flex;
        justify-content: center;
        border-radius: 30px;
        /* margin-bottom: 10px; */
        margin-top: 15px;
        /* border: 1px solid #bb9eb2; */
    }
    #img_D {
        /* border: 2px solid black; */
        padding: 8px;
        width: 100%;
        margin-right: 0;
        border-radius: 30px;
        /* border: 7px solid red; */
    }

   




    .menu-down {
        /* border: 2px solid violet; */
        display: flex;
        /* margin: 15px; */
        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 1px solid #2f28599d;
        width: 95%;
        padding-bottom: 7px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    a.small-menu {
        color: rgb(133, 133, 133);
        font-size: 11px;
        padding: 3px;
        /* align-items: center; */
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* Footer ------------------------------------ */
    footer {
        display: inline-block;
        position:relative;
        bottom: 0;
        line-height: 80px;
        text-align: center;
        min-width: 100%;
        border: 2px solid blue;
        color: rgb(44, 43, 43);
        font-size: 0.7em;
        font-family: 'Montserrat', sans-serif;
    }
   
   
    
 }