* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background-repeat: no-repeat;
    background: cover;
    margin: 0;
    padding: 0;
   
}

@media (min-width: 280px) and (max-width: 480px) {


    /* Navbar -------------------------------*/
    #logo-baner {
        width: 80%;
        /* border: 1px solid orangered; */
        margin-left: 0px;
        margin-right: -7px;
        background-color: transparent;
    }

    /* Recorre el menu de hamburguesa */
    nav .navbar {
        background: transparent;
        width: 60%;
    }


   

    .navbar-nav {
        font-family: 'Montserrat', sans-serif;
        color: rgb(90, 88, 88);
    }

    .navbar-light {
        background-color: #bb9eb2e0;
        /* solo background para area de navbar */
    }
    
    .navbar-light .navbar-toggler {
        border: 5px solid #1b123c;
        margin-right: 30px;
    }

    a.nav-link {
        margin-left: 25px;
    
    }
    /* Ajustar links del menu el texto HOME/Work cuando se despliega*/


    header {
        position: fixed;
        top:0;
        width: 100%;
    }
    /* Fijar menu navbar */


    /* BOXES */

    .main-box-nutri {
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        width: 100% auto;
        justify-content: center;
        margin-top: 130px;
    }

    .content-nutri {
       
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 8px;
    }

    .text-Nutritionist {
        background-color: #8b617f;
        border-radius: 6px;
        text-align: center;
        width: 100%;
    }


    .title-ux {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-variant-caps: all-petite-caps;
        margin-bottom: 0;
        color: white;
    }

    .main-image{
        width: 112%;
        margin-top: 33px;
    }

    #iphone-1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-text-block {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 8px;
        margin-top: 35px;
    }

    
    .subt-1 {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #565454;
    }
    .text-1 {
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        color: #565454;
    }


    .second-text-block {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 8px;
        margin-top: 35px;
    }

    
    .subt-2 {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #565454;
    }
    .text-2 {
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        color: #565454;
    }


    .third-text-block {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 8px;
        margin-top: 35px;
    }

    
    .subt-3 {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #565454;
    }
    .text-3 {
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        color: #565454;
    }


    .fourth-text-block {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 8px;
        margin-top: 35px;
    }


    .subt-4 {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #565454;
    }

    .fifth-text-block {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 8px;
        margin-top: 18px;
    }

    
    .subt-5 {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #565454;
    }
    .text-5 {
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        color: #565454;
    }

    .second-image{
        width: 100%;
        margin-top: 27px;
    }

    #affinity-map {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seven-text-block {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 8px;
        margin-top: 35px;
    }


    .subt-7 {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #565454;
    }

    .eight-text-block {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 8px;
        margin-top: 18px;
    }


    .subt-8 {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #565454;
    }

    .third-image{
        width: 100%;
       
    }

    #persona-1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    




    /* Footer ------------------------------------ */
    footer {
        display: inline-block;
        position:relative;
        bottom: 0;
        line-height: 80px;
        text-align: center;
        min-width: 100%;
        /* border: 2px solid blue; */
        color: rgb(44, 43, 43);
       font-size: 0.7em;
       font-family: 'Montserrat', sans-serif;
    }
}